<div id="footer"></div>
<footer class="footer_area section_padding_130_0">
    <div class="container">
        <div class="row">
            <!-- Single Widget-->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-footer-widget section_padding_0_130">
                    <!-- Footer Logo-->
                    <div class="footer-logo mb-3"></div>
                    <h2>About Us</h2><br>
                    <p>"Stay informed with our news website, your go-to source for international and domestic news,
                        including the latest updates in cricket. Get comprehensive coverage and insightful analysis,
                        all at your fingertips. Visit us today for real-time updates and expert commentary!"</p>
                </div>
            </div>


            <!-- Single Widget-->
            <div class="col-12 col-sm-6 col-lg" style="margin-left: 150px;">
                <div class="single-footer-widget section_padding_0_130">
                    <!-- Widget Title-->
                    <h2 class="widget-title">Follow Us - </h2>
                    <!-- Footer Menu-->
                    <div class="footer_menu">
                        <ul>
                            <li> <a href="https://www.facebook.com" target="_blank" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Facebook"><i class="fab fa-facebook-f"></i>  Facebook</a></li>

                            <li><a href="https://www.Instagram.com" target="_blank" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Instagram">
                                    <i class="fab fa-instagram"></i> Instagram

                                </a></li>
                            <li><a href="https://www.LinkedIn.com" target="_blank" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Skype">
                                    <i class="fab fa-linkedin-in"></i> LinkedIn

                                </a></li>
                            <li><a href="https://www.Twitter.com" target="_blank"  data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Twitter">
                                    <i class="fab fa-twitter"></i> Twitter

                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Single Widget-->
            <div class="col-12 col-sm-6 col-lg">
                <div class="single-footer-widget section_padding_0_130">
                    <!-- Widget Title-->
                    <h2 class="widget-title">Contact Us</h2>
                    <!-- Footer Menu-->
                    <div class="footer_menu">
                        <ul>
                            <li> <i class="fas fa-home"></i> - 21 Street, Noida , India</li><br>
                            <li><i class="fas fa-envelope"></i> -  InsightfulTimes/gmail.com</li><br>
                            <li><i class="fas fa-phone"></i> - 0181-26265427></li><br>
                            <li><i class="fas fa-globe"></i> - InsightfulTimes.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>