
<div id="International-news">
    <div id="main">
        <div id="main1">
            <h1 style="background-color: rgba(0, 0, 0, 0.1); "><a href="https://news.un.org/en/story/2024/04/1148546"
                    target="_blank">Guterres condemns Iran’s
                    attack on Israel, calls
                    for immediate end to hostilities</a></h1>
            <h4 style="background-color: rgba(0, 0, 0, 0.1); color: white; padding: 5px;">Strongly condemning the
                “large-scale attack”
                launched on Israel by Iran, UN Secretary-General António Guterres has urged maximum restraint by all
                parties
                and warned that “neither the region nor the world can afford another war.”</h4>
        </div>

        <div id="lg1">
            <img src="assets/m6.jpeg">
            <div id="lg1-content">
                <h3><a href="https://news.un.org/en/story/2024/04/1148431" target="_blank">General Assembly debates
                        Russia’s veto of DPR
                        Korea sanctions panel</a></h3>
                <p>Sharp divisions emerged on Thursday as the General Assembly debated Russia’s veto on the Security
                    Council which blocked renewal of the sanctions panel that monitors the Democratic People’s Republic
                    of Korea (DPRK) nuclear weapon and missile programmes.</p>
            </div>
        </div>
    </div>


    <div id="main2">

        <div id="vert1">
            <div id="Int-news">
                <h2 style="background-color: rgba(0, 0, 0, 0.2); color: white;"><a
                        href="https://www.thehindu.com/news/international/rains-set-off-flash-floods-in-afghanistan/article68065757.ece"
                        target="_blank"> Heavy rains
                        set off flash floods,
                        killing 33 people in Afghanistan</a> </h2>
            </div>
            <div id="Int-news2">
                <h2 style="background-color: rgba(0, 0, 0, 0.2); color: white;"><a
                        href="https://www.indiatoday.in/india/story/maldives-tourism-association-roadshow-indian-tourism-decline-mohamed-muizzu-2526222-2024-04-12"
                        target="_blank">Maldives to hold roadshows in India to
                        woo tourists back amid strained ties</a></h2>
            </div>
        </div>


        <div id="vert2">
            <div id="Int-news3">
                <h2 style="background-color: rgba(0, 0, 0, 0.1); color: white; padding: 7px"><a
                        href="https://www.ndtv.com/world-news/joe-biden-says-us-helped-israel-take-down-nearly-all-iran-drones-missiles-5437816"
                        target="_blank">Joe Biden Says US Helped Israel Take
                        Down "Nearly All" Iran Drones, Missiles</a></h2>
            </div>
            <div id="Int-news4">
                <h2 style="background-color: rgba(0, 0, 0, 0.2); color: white; "><a
                        href="https://www.ndtv.com/world-news/mexico-warns-of-zombie-drug-xylazine-found-in-opioids-on-us-border-5433129#:~:text=Now%2C%20Mexican%20public%20health%20officials,in%20US%20cities%20like%20Philadelphia."
                        target="_blank">Mexico Warns Of "Zombie Drug" Xylazine
                        Found In Opioids On US Border</a></h2>
            </div>
        </div>
    </div>
</div>
