<div id="bigscreen">
    <video autoplay muted loop>
        <source src="assets/Video.mp4" type="video/mp4">
        <source src="assets/Video.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <div id="videoContent">
        <h2>El Nino likely to end by May,Indian <br> monsoon may be spared</h2>
        <p>
            El Nino and La Nina are the two alternating phases of sea-surface temperatures
            in the eastern Pacific Ocean,
            off the South American coast, in which the waters get unusually warm or cold.
            These large-scale alternating
            phases impact weather events across the globe. The India Meteorological
            Department (IMD) recently said that
            both the maximum as well as minimum
            temperatures are expected to remain above normal in most parts of the country
            till May.The current spell
            of ongoing El Nino event in the Pacific Ocean is expected to get completely over
            in the next couple of
            months, minimising chances of a hit on the earlier part of the Indian monsoon
            this year.
            The latest monthly outlook on the El Nino Southern Oscillation (ENSO) system by
            the Climate Prediction
            Centre of the National Oceanic and Atmospheric Administration (NOAA) of the
            United States says ENSO-neutral
            conditions are expected to prevail between April and June and a La Nina likely
            to emerge thereafter.</p>
    </div>
</div>

