<div id="Cricket-box">
    <div id="IPL">
        <img src="assets/tataipl.png">
        <h1>TATA IPL 2024</h1>

        <button (click)="toggleLinks()">{{ showLinks ? 'Show Less' : 'Show More' }}</button>

        <div *ngIf="showLinks" id="ShowMore">
            <a href="https://www.google.com/search?q=ipl+poitns+table&oq=ipl+poitns+table&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIPCAEQABgKGIMBGLEDGIAEMgwIAhAAGAoYsQMYgAQyEggDEAAYChiDARixAxiABBiKBTIPCAQQABgKGIMBGLEDGIAEMg8IBRAAGAoYgwEYsQMYgAQyEggGEAAYChiDARixAxiABBiKBTIJCAcQABgKGIAEMgkICBAAGAoYgAQyEggJEAAYChiDARixAxiABBiKBdIBCDM0MzFqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#sie=lg;/g/11v0gsbybs;5;/m/03b_lm1;mt;fp;1;;;"
                target="_blank">Matches</a>
            <a href="https://www.google.com/search?q=ipl+table&sca_esv=3eb2b7adee194e22&sca_upv=1&sxsrf=ACQVn08NL78WwFc4uGeOwX5jc3cJzujrJg%3A1714052034775&ei=wlsqZobgLq3fseMPhZqA4As&ved=0ahUKEwiGyaK1vd2FAxWtb2wGHQUNALwQ4dUDCBA&uact=5&oq=ipl+table&gs_lp=Egxnd3Mtd2l6LXNlcnAiCWlwbCB0YWJsZTIKECMYgAQYJxiKBTILEAAYgAQYsQMYgwEyCxAAGIAEGLEDGIMBMg4QABiABBixAxiDARiKBTILEAAYgAQYsQMYgwEyCxAAGIAEGLEDGIMBMgsQABiABBixAxiDATIKEAAYgAQYAhjLATILEAAYgAQYsQMYgwEyCxAAGIAEGLEDGIMBSK4dUJMQWOEbcAF4AZABAJgB2wGgAfgKqgEFMC43LjG4AQPIAQD4AQGYAgmgArULqAIUwgIHECMYJxjqAsICExAAGIAEGEMYtAIYigUY6gLYAQHCAgoQABiABBhDGIoFwgILEC4YgAQYsQMYgwHCAhEQLhiABBiRAhixAxiDARiKBcICERAAGIAEGJECGLEDGIMBGIoFwgIQEC4YgAQYsQMYQxjlBBiKBcICEBAuGIAEGLEDGEMYgwEYigXCAhAQABiABBixAxhDGIMBGIoFmAMYugYGCAEQARgBkgcFMS42LjKgB_BF&sclient=gws-wiz-serp#sie=lg;/g/11v0gsbybs;5;/m/03b_lm1;lb;fp;1;;;"
                target="_blank">Statistics</a>
            <a href="https://www.google.com/search?q=ipl+table&sca_esv=3eb2b7adee194e22&sca_upv=1&sxsrf=ACQVn08NL78WwFc4uGeOwX5jc3cJzujrJg%3A1714052034775&ei=wlsqZobgLq3fseMPhZqA4As&ved=0ahUKEwiGyaK1vd2FAxWtb2wGHQUNALwQ4dUDCBA&uact=5&oq=ipl+table&gs_lp=Egxnd3Mtd2l6LXNlcnAiCWlwbCB0YWJsZTIKECMYgAQYJxiKBTILEAAYgAQYsQMYgwEyCxAAGIAEGLEDGIMBMg4QABiABBixAxiDARiKBTILEAAYgAQYsQMYgwEyCxAAGIAEGLEDGIMBMgsQABiABBixAxiDATIKEAAYgAQYAhjLATILEAAYgAQYsQMYgwEyCxAAGIAEGLEDGIMBSK4dUJMQWOEbcAF4AZABAJgB2wGgAfgKqgEFMC43LjG4AQPIAQD4AQGYAgmgArULqAIUwgIHECMYJxjqAsICExAAGIAEGEMYtAIYigUY6gLYAQHCAgoQABiABBhDGIoFwgILEC4YgAQYsQMYgwHCAhEQLhiABBiRAhixAxiDARiKBcICERAAGIAEGJECGLEDGIMBGIoFwgIQEC4YgAQYsQMYQxjlBBiKBcICEBAuGIAEGLEDGEMYgwEYigXCAhAQABiABBixAxhDGIMBGIoFmAMYugYGCAEQARgBkgcFMS42LjKgB_BF&sclient=gws-wiz-serp#sie=lg;/g/11v0gsbybs;5;/m/03b_lm1;st;fp;1;;;"
                target="_blank">Points Table</a>
        </div>

    </div>
    <div class="Centered-item">

        <div class="scores">
            <div id="bux1">
                <!-- image -->
            </div>
            <div class="scores-content">
                <h3 style="background-color: #19398a; color: white;">MI - 199/3</h3>
                <h3 style="background-color: #19398a; color: white;">CSK - 200/3</h3>
            </div>
            <div class="Wonby">
                <h4 style="background-color: #19398a; color: white;">Chennai Kings won by 7 wickets</h4>
            </div>
        </div>

        <div class="scores">
            <div id="bux2">
                <!-- image -->
            </div>
            <div class="scores-content">
                <h3 style="background-color: #19398a; color: white;">LSG - 167/7</h3>
                <h3 style="background-color: #19398a; color: white;">KKR - 170/4</h3>
            </div>
            <div class="Wonby">
                <h4 style="background-color: #19398a; color: white;">Kolkata Riders won by 6 wickets</h4>
            </div>
        </div>


        <div class="scores">
            <div id="bux3">
                <!-- image -->
            </div>
            <div class="scores-content">
                <h3 style="background-color: #19398a; color: white;">PBKS - 196/3</h3>
                <h3 style="background-color: #19398a; color: white;">RR - 199/7</h3>
            </div>
            <div class="Wonby">
                <h4 style="background-color: #19398a; color: white;">Rajasthan Royals won by 3 wickets</h4>
            </div>
        </div>


        <div class="scores">
            <div id="bux4">
                <!-- image -->
            </div>
            <div class="scores-content">
                <h3 style="background-color: #19398a; color: white;">LSG - 167/7</h3>
                <h3 style="background-color: #19398a; color: white;">DC - 170/4</h3>
            </div>
            <div class="Wonby">
                <h4 style="background-color: #19398a; color: white;">Delhi Capitals won by 6 wickets</h4>
            </div>
        </div>




    </div>


</div>