<div id="top-box">
    <div id="link-box">
        <header>
            <h2  style="color: red;">Top Stories</h2>
        </header>
        <article>
            <h4>POLITICS</h4>
            <h5><a href="https://www.hindustantimes.com/india-news/you-are-being-misinformed-mallikarjun-kharge-to-pm-modi-on-congresss-nyay-patra-101714038687828.html"
                    target="_blank"> Letter to PM Modi, Mallikarjun Kharge seeks time to explain Cong's ‘Nyay
                    Patra’</a></h5>
        </article>
        <article>
            <h4>ENTERTAINMENT</h4>
            <h5><a href="https://www.ndtv.com/entertainment/pushpa-2-first-single-promo-allu-arjuns-song-pushpa-pushpa-gets-a-release-date-5512966"
                    target="_blank"> First Single Promo: Allu Arjun's Song Pushpa Pushpa Gets A Release Date</a> </h5>
        </article>
        <article>
            <h4>CRICKET</h4>
            <h5><a href="https://www.hindustantimes.com/cricket/rishabh-pant-told-hes-not-fit-for-middle-order-at-t20-world-cup-can-he-bat-at-3-behind-rohit-sharma-virat-kohli-101714024550973.html"
                    target="_blank"> Pant told he's 'not fit for middle order' at T20 World Cup: 'Can he bat at 3 behind
                    Rohit Sharma, Virat Kohli?'
                </a></h5>
        </article>
        <article>
            <h4>INTERNATIONAL</h4>
            <h5><a href="https://timesofindia.indiatimes.com/world/middle-east/iaea-chief-raises-alarm-over-irans-60-uranium-enrichment-level/articleshow/109594517.cms"
                    target="_blank">IAEA chief raises alarm over Iran's 60% uranium enrichment level</a> </h5>
        </article>
        <article>
            <h4>POLITICS</h4>
            <h5><a href="https://www.hindustantimes.com/india-news/lok-sabha-elections-2024-how-political-families-dominate-indias-life-streams-101714041802393.html"
                    target="_blank"> Lok Sabha elections 2024: How political families dominate India's life streams</a>
            </h5>

        </article>
        <article>
            <h4>INTERNATIONAL</h4>
            <h5><a href="https://timesofindia.indiatimes.com/world/europe/with-war-in-ukraine-on-its-border-poland-wants-to-be-among-the-countries-setting-europes-agenda/articleshow/109591786.cms"
                    target="_blank"> With war in Ukraine on its border, Poland wants to be among the countries setting
                    Europe's agenda</a></h5>
        </article>
        <article>
            <h4>DOMESTIC</h4>
            <h5><a href="https://www.hindustantimes.com/cities/patna-news/3-killed-several-injured-in-massive-at-hotels-near-patna-railway-station-101714034832037.html"
                    target="_blank"> 3 killed, many injured in massive fire at 3 hotels near Patna railway station</a>
            </h5>
        </article>
        <article>
            <h4>CRICKET</h4>
            <h5> <a href="https://www.hindustantimes.com/cricket/if-ms-dhoni-says-he-wants-to-play-t20-world-cup-agarkar-poked-with-wildcard-surprise-before-india-squad-selection-101713941684264.html"
                    target="_blank">'If MS Dhoni says he wants to play T20 World Cup…': Agarkar poked with 'wildcard'
                    surprise before India squad selection</a></h5>
        </article>
    </div>

    <div id="container">
        <h2 style="padding-bottom: 10px;">
            <a href="https://timesofindia.indiatimes.com/india/excise-policy-case-delhi-cm-arvind-kejriwal-sent-to-judicial-custody-till-april-15/articleshow/108934667.cms"
                target="_blank">Excise policy case: Delhi CM Arvind Kejriwal sent to judicial custody under liquor policy scam</a>
        </h2>
        <p style="padding-bottom: 10px;">Delhi Chief Minister Arvind Kejriwal, who was arrested by the Enforcement
            Directorate (ED) in connection with the excise policy case a day before, said that his life is dedicated to
            the country whether he is outside or in jail.</p>
        <img src="assets/kejriwal.jpeg">
    </div>

    <div class="Weather-box">

        
        <div class="search">
            <input type="text" placeholder="Enter city name">
            <button><img src="assets/search.png"></button>
        </div>

        <div class="weather">
            <img src="assets/clear.png" class="weather-icon">
            <h1 class="temp">22°C</h1>
            <h2 class="city">Jalandhar</h2>
            <div class="details">
                <div class="col">
                    <img src="assets/humidity.png">
                    <div>
                        <p class="humidity">50%</p>
                        <p>Humidity</p>
                    </div>
                </div>
                <div class="col">
                    <img src="assets/wind.png">
                    <div>
                        <p class="wind">15 km/h</p>
                        <p>Wind Speed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="political">
    <div id="top1-box">
        <div id="box1">
            <img src="assets/congress.jpg">
            <div id="box1-content">
                <h2><a href="https://thewire.in/politics/democracy-frozen-says-congress-calls-action-on-accounts-bid-to-cripple-it-financially"
                        target="_blank">‘Democracy Frozen’ Says Congress, Calls Action on Accounts Bid to Cripple it
                        Financially</a></h2>
                <p>The party said that it had received two notices from the IT department, one for FY 2017-18 and
                    another for FY 1993-94, in a ‘systematic effort’ to deprive the Congress of a level playing field.
                </p>
            </div>
        </div>

        <div id="box2">
            <img src="assets/ladakh.jpeg">
            <div id="box2-content">
                <h2><a href="https://thewire.in/rights/ongoing-ladakh-protest-demanding-constitutional-safeguards-is-getting-bigger"
                        target="_blank">Ongoing Ladakh Protest Demanding Constitutional Safeguards Is Getting Bigger</a>
                </h2>
                <p>In India's high-altitude Ladakh region, thousands are protesting in sub-zero temperatures. But since
                    2020, they have frequently taken to streets, accusing the government of "betrayal" and unkept
                    promises.</p>
            </div>
        </div>
    </div>
</div>

<div id="top2-box">
    <div id="box3">
        <img src="assets/mamta.jpeg">
        <div id="box3-content">
            <h2><a href="https://www.thehindu.com/elections/lok-sabha/bengal-lok-sabha-polls-discontent-grows-in-tmc-bjp-ranks-over-ticket-distribution/article67986810.ece#:~:text=Discontentment%20seems%20to%20be%20increasing,the%20upcoming%20Lok%20Sabha%20elections."
                    target="_blank">Bengal
                    Lok Sabha polls | Discontent grows in TMC, BJP ranks over ticket
                    distribution</a></h2>
            <p>Political analysts believe that while dissent among lesser-known figures
                is unlikely to significantly
                affect the TMC's poll prospects, given the party's reliance on the CM's
                popularity, it could pose a
                concern for the BJP due to caste dynamics</p>
        </div>
    </div>

    <div id="box4">
        <img src="assets/electbonds.jpeg">
        <div id="box4-content">
            <h2><a href="https://www.indiatoday.in/india/story/delhi-liquor-policy-case-sarath-chandra-reddy-aurobindo-firm-electoral-bonds-bjp-donation-arvind-kejriwal-2518831-2024-03-24"
                    target="_blank">BJP
                    got major share of bonds from firm owned by liquor policy case
                    approver</a></h2>
            <p>According to the electoral bonds data, the BJP received a Rs 5 crore
                donation from Aurobindo Pharma,
                the company of Sarath Chandra Reddy, who is an approver in the Delhi
                liquor policy case.</p>
        </div>
    </div>
</div>