<header id="head1">
    <div id="Name">
        <h1>The Insightful Times</h1>
    </div>


    <div id="button1">
        <button>Sign in</button>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h2>Sign in</h2>
            <span class="close">&times;</span>
            <form id="userInfoForm">
                <input type="text" id="firstName" name="firstName" placeholder="FirstName" autofocus><br><br>
                <input type="text" id="lastName" name="lastName" placeholder="LastName"><br><br>
                <input type="email" id="email" name="email" placeholder="Email"><br><br>
                <input type="submit" id="submit" value="Submit">
            </form>
        </div>

    </div>

</header>

<!-----------------------------------NAVBAR----------------------------------->
<div id="navbar">
    <a style="margin-left: 180px;" href="#top-box" class="fa fa-home"></a>
    <a href="#political">Political</a>
    <a href="#bigscreen">Climate</a>
    <a href="#IPL">Cricket</a>
    <a href="#International-news">International News</a>
    <a href="#footer">Contact Us</a>
</div>

<!-----------------------------------MARQUEE----------------------------------->
<div class="marquee">
    <h3> <i class="fas fa-circle red-dot"></i> Trending </h3>
    <div class="scroll-container">
        <p class="marquee-text">Arvind Kejriwal's jail tenure extended | | YouTuber Manish Kashyap who was arrested for
            'fake video' joins BJP on ‘mother’s advice' | |
            Modi says Rajiv Gandhi abolished inheritance tax to avoid paying it || IndusInd Bank Q4 results: Net profit
            jumps 15% to ₹2,349 crore || Joe Biden accused of hypocrisy over signing of TikTok ban or divest bill
        </p>
    </div>
</div>